# Chặn file chứa API Key
.env

# Chặn thư mục môi trường ảo
venv/
env/
virtualenv/

# Chặn các file rác của Python
__pycache__/
*.py[cod]
*$py.class

# Chặn file cấu hình của VS Code (nếu có)
.vscode/
